body {
    margin             : 0;
    padding            : 0;
    background-image   : linear-gradient(rgb(255, 255, 255), rgb(0, 183, 255));
    background-position: center;
    background-size    : cover;
    font-style         : sans-serif;
    position           : relative;
}

.login-box {
    width           : 400px;
    height          : 500px;
    color           : #fff;
    background-color: black;
    position        : absolute;
    left            : 50%;
    top             : 50%;
    transform       : translate(-50%, -50%);
    box-sizing      : border-box;
    border-radius   : 10px;
    padding         : 50px 30px;
}

.login-logo {
    width        : 100px;
    height       : 100px;
    border-radius: 50%;
    position     : absolute;
    top          : -50px;
    left         : calc(50% - 50px);
}

h1 {
    margin    : 0;
    padding   : 10px 0 20px;
    text-align: center;
}

.login-box p {
    margin     : 0;
    padding    : 0;
    font-weight: bold;
}

.login-box input {
    width        : 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
input[type="password"] {
    border       : none;
    border-bottom: 1px solid #fff;
    background   : transparent;
    outline      : none;
    height       : 40px;
    font-size    : 16px;
    color        : #fff;
}

.login-box input[type="submit"] {
    border          : 0;
    margin          : 20px 0px;
    height          : 40px;
    background-color: rgb(0, 183, 255);
    color           : white;
    box-shadow      : 0px 5px 40px 0px lightgray;
    font-size       : 20px;
    border-radius   : 20px;
    cursor          : pointer;
}

.login-box a {
    padding        : 10px 0px;
    display        : flex;
    font-size      : 20px;
    color          : white;
    text-decoration: none;

}